
.kamid{
    text-align: center;
}

.kami{
    width:600px;
    
}
.hints{
    text-align: center;
}
.hint{
    
    font-size: 30px;
    
}
.relive{
    margin-left: 80px;
    font-size: 30px;
}

.an{
    text-align: center;
}
.a{
    margin-top: 20px;
  
    font-size: 30px;
}
body{
    background-color: rgb(209, 145, 145);
}


@media only screen and (max-width : 736px){
    
    .kami {
         width: 100%;
         }
    
    .sp-dsp {
         display:block; 
        }
    
    }